<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    <link rel="stylesheet" href="~/Content/normalize.css"/>
    <link rel="stylesheet" href="~/Content/StyleSheet.css"/>
    <title>National Park Geek</title>

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <img src="~/Content/img/logo.png" style="height: 150px" class="img-responsive" alt="Responsive image">
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="#"><b>Home</b></a></li>
                    <li role="presentation"><a href="#" target="_blank"><b>Survey</b></a></li>
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </nav>

    @RenderBody()

    <div class="container-fluid" style="padding-top: 190px">

        <!-- Main component div -->
        <div class="jumbotron">
            <h1>MAIN HEADER</h1>
            <p>PARAGRAPH 1</p>

            <p>PARAGRAPH 2</p>
            <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">BUTTON TEXT &raquo;</a>
            </p>
        </div>

    </div> <!-- /container -->


    <footer>
        <p>&copy; @DateTime.Now.Year - National Park Geek</p>
    </footer>


    <script src="~/Scripts/jquery-3.0.0.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</body>
</html>
