

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <title></title>

</head>

<body>
    <div>





        <section id="main">

            @RenderBody()

        </section>
        <footer>
            <p>&copy; @DateTime.Now.Year - National Park Geek</p>
        </footer>

    </div>
</body>
</html>
